.page {
  font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
  max-width: 1280px;
  margin: auto;
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility; 
}

@font-face {
  font-family: "Inter";
  src: url("../styles/fonts/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../styles/fonts/static/Inter-Bold.ttf");
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  .page {
      max-width: 1279px;
  }
}

@media screen and (max-width: 320px) {
  .page {
      max-width: 320px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .page {
        width: 100%;
        display:flex;
    }
}